<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.core.data.coupon.mapper.CouponInfoMapper">
    <!-- 查询CouponInfo -->
    <select id="getCouponInfo" parameterType="com.ly.mt.core.data.coupon.entity.CouponInfo" resultType="com.ly.mt.core.data.coupon.entity.CouponInfo">
        SELECT *
        FROM coupon_info
        <where>
            <if test="null != id and '' != id">AND id = #{id}</if>
        </where>
        LIMIT 1
    </select>
</mapper>