<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.core.data.user.mapper.UserAddressMapper">
    <select id="getUserAddress" parameterType="com.ly.mt.core.data.user.entity.UserAddress" resultType="com.ly.mt.core.data.user.entity.UserAddress">
        SELECT *
        FROM user_address
        <where>
            <if test="null != id and '' != id">AND id = #{id}</if>
        </where>
        LIMIT 1
    </select>
</mapper>