<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.purchase.server.shop.mapper.ShopPurchasesDiscountMapper">

    <select id="selectByShopId" resultType="com.ly.mt.core.common.entity.purchase.ShopPurchasesDiscount" parameterType="long">
        SELECT
          spd.discount_type, spd.discount_price, spd.status
        FROM shop_purchases sp,
          shop_purchases_discount as spd
        WHERE sp.id = spd.purchases_id
            AND sp.shop_id = #{shopId}
    </select>
</mapper>