<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.core.data.basic.mapper.BasicUserRoleMapper">
    <!-- 新增BasicUserRole -->
    <insert id="insertBasicUserRole" parameterType="com.ly.mt.core.data.basic.entity.BasicUserRole">
        INSERT INTO basic_user_role (
            id, user_id, role_id
        ) VALUES (
            #{id}, #{userId}, #{roleId}
        )
    </insert>


    <!-- 删除BasicUserRole -->
    <delete id="deleteBasicUserRole" parameterType="com.ly.mt.core.data.basic.entity.BasicUserRole">
        DELETE
        FROM basic_user_role
        <where>
            <if test="null != roleId and '' != roleId">AND role_id = #{roleId}</if>
            <if test="null != userId and '' != userId">AND user_id = #{userId}</if>
        </where>
    </delete>


    <!-- 查询List<BasicUserRole> -->
    <select id="listBasicUserRole" parameterType="com.ly.mt.core.data.basic.entity.BasicUserRole" resultType="com.ly.mt.core.data.basic.entity.BasicUserRole">
        SELECT *
        FROM basic_user_role
        <where>
            <if test="null != roleId and '' != roleId">AND role_id = #{roleId}</if>
            <if test="null != userId and '' != userId">AND user_id = #{userId}</if>
        </where>
    </select>
</mapper>