<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.activity.server.product.mapper.FrontCategorySkuMapper" >
  <sql id="Base_Column_List" >
    id, front_id, sku_id, `status`, create_time
  </sql>
  <select id="selectByPrimaryKey"  parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from front_category_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from front_category_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ly.mt.core.common.entity.hd.FrontCategorySku" >
    insert into front_category_sku (id, front_id, sku_id, 
      `status`, create_time)
    values (#{id,jdbcType=BIGINT}, #{frontId,jdbcType=BIGINT}, #{skuId,jdbcType=BIGINT}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ly.mt.core.common.entity.hd.FrontCategorySku" >
    insert into front_category_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="frontId != null" >
        front_id,
      </if>
      <if test="skuId != null" >
        sku_id,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="frontId != null" >
        #{frontId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        #{skuId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ly.mt.core.common.entity.hd.FrontCategorySku" >
    update front_category_sku
    <set >
      <if test="frontId != null" >
        front_id = #{frontId,jdbcType=BIGINT},
      </if>
      <if test="skuId != null" >
        sku_id = #{skuId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ly.mt.core.common.entity.hd.FrontCategorySku" >
    update front_category_sku
    set front_id = #{frontId,jdbcType=BIGINT},
      sku_id = #{skuId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>