<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.user.server.user.mapper.UserAddressServiceMapper">
    <select id="selectByPrimaryKey" resultType="com.ly.mt.core.common.entity.user.UserAddress"
            parameterType="java.lang.Long">
        SELECT
            id,
            user_id,
            user_name,
            receive_name,
            receive_phone,
            province_code,
            province_name,
            city_code,
            city_name,
            district_code,
            district_name,
            lat,
            lon,
            picker_value,
            user_address,
            is_default,
            valid_status,
            create_time,
            modify_time
        FROM user_address
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE
        FROM user_address
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.ly.mt.core.common.entity.user.UserAddress">
        INSERT INTO user_address (id, user_id, user_name,
                                  receive_name, receive_phone, province_code,
                                  province_name, city_code, city_name,
                                  district_code, district_name, picker_value, user_address, lat,lon,
                                  is_default, valid_status, create_time)
        VALUES (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
                #{receiveName,jdbcType=VARCHAR}, #{receivePhone,jdbcType=VARCHAR}, #{provinceCode,jdbcType=VARCHAR},
                #{provinceName,jdbcType=VARCHAR}, #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR},
                #{districtCode,jdbcType=VARCHAR}, #{districtName,jdbcType=VARCHAR}, #{pickerValue,jdbcType=VARCHAR},
                #{userAddress,jdbcType=VARCHAR}, #{lat,jdbcType =VARCHAR },#{lon,jdbcType =VARCHAR},#{isDefault,jdbcType=BIT}, #{validStatus,jdbcType=BIT},
                #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <insert  id="insertActivtyPromotion" parameterType="com.ly.mt.core.common.entity.user.UserAddress">
        INSERT INTO user_address (
            id,user_id,user_name,receive_name,
            receive_phone,province_code,province_name,city_code,city_name,district_code,district_name,picker_value,
            user_address,is_default,valid_status,create_time
        )
        VALUES
        (
            #{id},#{userId},#{userName},#{receiveName},
            #{receivePhone}, NULL,NULL,NULL, NULL, NULL,NULL,NULL,#{userAddress},NULL,NULL,#{createTime}
        )
    </insert>

    <!--获取用户的默认地址-->
    <select id="getDefaultAddressByUserId" resultType="com.ly.mt.core.common.entity.user.UserAddress">
        SELECT
            id,
            user_id,
            user_name,
            receive_name,
            receive_phone,
            province_code,
            province_name,
            city_code,
            city_name,
            district_code,
            district_name,
            picker_value,
            user_address,
            lat,
            loa,
            is_default,
            valid_status,
            create_time,
            modify_time
        FROM user_address
        WHERE valid_status = 1
          AND user_id = #{userId,jdbcType=BIGINT}
          AND is_default = 1
        ORDER BY create_time
    </select>

    <update id="updateByPrimaryKey" parameterType="com.ly.mt.core.common.entity.user.UserAddress">
        UPDATE user_address
        SET
            receive_name  = #{receiveName,jdbcType=VARCHAR},
            receive_phone = #{receivePhone,jdbcType=VARCHAR},
            province_code = #{provinceCode,jdbcType=VARCHAR},
            province_name = #{provinceName,jdbcType=VARCHAR},
            city_code     = #{cityCode,jdbcType=VARCHAR},
            city_name     = #{cityName,jdbcType=VARCHAR},
            district_code = #{districtCode,jdbcType=VARCHAR},
            district_name = #{districtName,jdbcType=VARCHAR},
            picker_value  = #{pickerValue,jdbcType=VARCHAR},
            user_address  = #{userAddress,jdbcType=VARCHAR},
            modify_time   = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateDefaultAddress" parameterType="com.ly.mt.core.common.entity.user.UserAddress">
        UPDATE user_address
        SET
            is_default  = 1,
            modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}and valid_status = 1
    </update>

    <select id="listByUserId" resultType="com.ly.mt.core.common.entity.user.UserAddress">
        SELECT
            id,
            user_id,
            user_name,
            receive_name,
            receive_phone,
            province_code,
            province_name,
            city_code,
            city_name,
            district_code,
            district_name,
            picker_value,
            user_address,
            lat,
            lon,
            is_default,
            valid_status,
            create_time,
            modify_time
        FROM user_address
        WHERE valid_status = 1
          AND user_id = #{userId,jdbcType=BIGINT}
        ORDER BY create_time
    </select>

    <update id="updateDefaultAddressByUserId" parameterType="com.ly.mt.core.common.entity.user.UserAddress">
        UPDATE user_address
        <set>
            is_default = #{isDefault,jdbcType=TINYINT},
            modify_time = #{modifyTime,jdbcType=TIMESTAMP},
        </set>
        WHERE user_id = #{userId,jdbcType=BIGINT} and valid_status = 1
    </update>


    <update id="updateValidStatusById" parameterType="com.ly.mt.core.common.entity.user.UserAddress">
        UPDATE user_address
        SET
            is_default   = #{isDefault,jdbcType=BIT },
            valid_status = #{validStatus,jdbcType=BIT},
            modify_time  = #{modifyTime,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>