<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.mt.core.data.gzg.mapper.GzgHotelMapper">
    <!-- 查询GzgHotel -->
    <select id="getGzgHotel" parameterType="com.ly.mt.core.data.gzg.entity.GzgHotel" resultType="com.ly.mt.core.data.gzg.entity.GzgHotel">
        SELECT *
        FROM gzg_hotel
        <where>
            <if test="null != id and '' != id">AND id = #{id}</if>
        </where>
        LIMIT 1
    </select>
</mapper>