#tableSrarch input {
    width: 200px;
    height: 25px;
}

#tableSrarch select {
    width: 200px;
    height: 25px;
}

#formAdd input {
    width: 300px;
    height: 25px;
}

#formAdd select {
    width: 300px;
    height: 25px;
}

#formEdit input {
    width: 300px;
    height: 25px;
}

#formEdit select {
    width: 300px;
    height: 25px;
}

#formInfo input {
    width: 300px;
    height: 25px;
}